[submodule "SynSemClassSearch"]
	path = SynSemClassSearch
	url = https://github.com/ufal/SynSemClassSearch
[submodule "SynSemClassML"]
	path = SynSemClassML
	url = https://github.com/ufal/SynSemClassML
[submodule "SynSemClassPipeline"]
	path = SynSemClassPipeline
	url = https://github.com/ufal/SynSemClassPipeline
[submodule "SynSemClassMulti"]
	path = SynSemClassMulti
	url = https://github.com/fucikova/SynSemClassMulti
