[submodule "SynSemClassSearch"]
	path = SynSemClassSearch
	url = git@github.com:ufal/SynSemClassSearch
[submodule "SynSemClassML"]
	path = SynSemClassML
	url = git@github.com:ufal/SynSemClassML
[submodule "SynSemClassPipeline"]
	path = SynSemClassPipeline
	url = git@github.com:ufal/SynSemClassPipeline
